<h3 style="margin-top:1.5%;"><span data-i18n="skills.my_skills">Experience</span></h3>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.careers %}
          <div class="archive-title">
            <div class="archive-year">
              {{ career.name }} - {{ career.job }} 
            </div>
            <span class="archive-date">
              {{ career.date }} 
            </span>
          </div>
          <div id="archive-desc">
            {{career.project-desc}}
          </div>

    {% endfor %}
  </div>
</div>


<style>

a:hover {
  text-decoration: under;
}

</style>